h1{
    color:whitesmoke
}
body{
    background-color: black;
    background-size: contain;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}
p{
    color: azure;
    text-align: center
}
.box{
    background-color: cornsilk;
    width: 100px;
    height: 100px;
    display: inline-block;
    color: firebrick;
}
h2{
    color: whitesmoke;
    text-align: center;
}
.lavanderia{
    text-align: center;
}
p{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    padding: 0px;
    margin: 10px;
}

#header{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

.nav li a {
    background-color:green;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover{
    background-color: whitesmoke;
}

.nav > li{
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul{
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.nav li .Inicio{
    background-color:green;
}
p{
    text-align: justify;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    background-color: black;
}
.nav{
    display: inline-block;
    background-color: green;
    height: 100px;
    height: 110px;
}
.lenguanegra{
    text-align: center;
}